# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented code produced by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# node-waf dist
.lock-wscript

# Compiled binary building
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microservices debug
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Output of 'npm run build'
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
